#EnrollNow {
    padding-block: var(--module-padding);
    .ctaEnroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn {
            max-width: 11.5em;
            margin-top: 2em;
        }
    }
}
