@font-face {
    font-family: Mogan;
    src: url(./font/Mogan-Regular.otf);
}

* {
    font-family: "Montserrat", sans-serif;
}

.font-mogan {
    font-family: "Mogan";
}

p {
    color: var(--ink);
    max-width: 70ch;
}

.caption-voice {
    color: var(--caption);
}

p,
li,
.calm-voice {
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.attention-voice {
    font-size: 2em;
}

.change-cta-voice {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 1.5em;
    font-weight: 600;
}

.loud-voice {
    font-size: 2.5em;
}

/* Headings - should change to voices */

h1,
h2,
h3,
h4,
h5 {
    font-family: "Source Sans Pro", "OpenSans", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
}

/* Is this an exception or can be scoped to a component? */
.border-sandwich > h1 {
    font-family: "Mogan";
    font-size: 3em;
    line-height: 2.5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2;
}

h4 {
    font-size: 1em;
    padding-top: 20px;
    font-weight: 700;
    line-height: 1.2;
}

p + p {
    padding-top: 1em;
}
h1 + p,
h2 + p,
h3 + p,
p + h2 {
    margin-top: 1.5em;
}

li + li {
    margin-top: 1em;
}

span {
    color: rgb(142, 142, 142);
    font-size: 22px;
}

span > a {
    color: rgb(142, 142, 142);
    font-size: 22px;
}

b {
    font-weight: 700;
}

em {
    font-style: italic;
}

@media (max-width: 600px) {
    h2.loud-voice {
        font-size: 2em;
    }
}
