.airtableCalendar {
    margin: 0 auto;
    width: 80%;
    margin-top: 3em;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}



.scheduleTitle {
    display: grid;
    padding-bottom: 2em;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 15px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header1 header1 header2 header2"
    "subheader1 subheader1 subheader1 subheader2";

    .title {
        grid-area: header1;
        font-size: 36px;
        align-self: center;
    }
    p {
        grid-area: header2;
        font-size: 14px;
        align-self: center;
        justify-self: end;
    }

    .courseSchedule-info{
        grid-area: subheader1;
        display: flex;
        align-items: center;
    }

    .timezone-container {
        align-self: center;
        justify-self: end;
        grid-area: subheader2;
    }

    select {
        text-align: center;
        background-color: rgb(235, 235, 235);
        border-radius: 10px;
        height: 2.2rem;
        font-weight: 700;
        width: fit-content;
    };   
}


.courseSchedule-info img{
    max-width: 5em;
    padding: 0 1rem 0 0;
}

.pillarSchedule-text {
    font-size: 20px;
    font-weight: 700;
    padding: 0.5em 0 0.5em 2em;
}

.pillarSchedule-text + .pillarSchedule-subtext {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 0.75em 2.5em;
}

.pillarSchedule-column {
    border-radius: 10px;
    padding: 15px 15px 7.5px;
    background-color: rgb(235, 235, 235);
    margin: 0 auto 1em;
}

#scheduleCard {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    /* padding: 20px; */
    /* width: 100%; */
    /* margin: 5px 0; */
}

.weekInfo {
    /* padding-left: 45px; */
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.headerTitle {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding-left: 10px;
    /* font-size: 17px; */
    padding: 0.5em 0;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 7px;
}

.scheduleIconImg {
    max-height: 1.75rem;
    padding: 0 10px;
    transition: transform 0.3s ease;
}

.scheduleIconImg.rotated {
    transform: rotate(90deg);
    /* 90-degree rotation */
}

.classTitle {
    align-content: center;
    padding-right: 1em;
}

.clickDetails {
    padding: 0 0.5em;
    font-weight: 400;
    text-decoration: underline;
}

.subTitle,
.topicDetails {
    margin-left: 25px;
    padding: 15px 15px 15px;
    display: flex;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 0.5rem;
}

.subTitle {
    display: flex;
    justify-content: space-around;
}

.topicDetails {
    display: flex;
    flex-direction: column;
    padding: 15px 30px 20px;
    line-height: 1.5em;
}

.mobile-row {
    display: flex;
    align-items: center;
}

.optionTime,
.optionTime-hidden {
    font-weight: 500;
    padding-right: 20px;
}

.optionTitle {
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    /* Adjust the width for mobile devices */
    .scheduleTitle {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 4fr;
        grid-template-areas: 
        "header"
        "subheader1"
        "subheader2"
        "subheader3";
    
        .title {
            grid-area: header;
        }
        .courseSchedule-info{
            grid-area: subheader1;
            display: flex;
        }
        p {
            grid-area: subheader2;
            justify-self: start;
            font-size: 16px;
        }
        .timezone-container {
            grid-area: subheader3;
            justify-self: start;
        };   
    }




    
    .courseSchedule p,
    li,
    h2 {
        max-width: 100%;
    }

    .calendarV2 {
        display: flex;
        flex-direction: column;
        max-width: 80em;
        margin-top: 1em;
    }

    .mobile-row {
        align-items: center;
    }

    .scheduleIconImg {
        max-height: 1.5rem;
        padding: 0 7.5px;
        transition: transform 0.3s ease;
    }

    .headerTitle {
        font-size: 15px;
        line-height: 1.2rem;
    }

    #optionalTitle,
    #liveTopicTitle {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-left: 2.5em;
    }

    .optionTime,
    .optionTitle {
        font-size: 14px;
        line-height: 1.2rem;
        padding-right: 20px;
    }

    .optionTime-hidden {
        display: none;
    }

    .subTitle {
        flex-direction: column;
        padding: 0.5rem 1rem;
    }

    .clickDetails {
        display: none;
    }

    .topicDetails {
        font-size: 14px;
        padding: 10px 17.5px 10px;
    }
}
