#DoYouHave {
    padding-block: var(--module-padding);
}

#PurchasePlans {
    padding-block: var(--section-padding);
    max-width: 800px;
}

.future-list {
    margin-top: 1em;
    margin-left: 5%;
}

.pricingText {
    margin-top: 1em;
}

.purchasePlansWrapper {
    display: grid;
    column-gap: 2em;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    .enrollPlan {
        display: flex;
        flex-direction: column;
        padding-block: var(--section-padding);
        max-width: 450px;

        .enrollPlanColumn {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding-inline: 1.5em;
            padding-block: 2em;
            background-color: var(--lightGray);

            .enrollPlanContent {
                flex-grow: 1;
            }
        }
    }

    .btn-wrapper {
        display: flex;
        margin-top: 2em;
        justify-content: center;
        .btn {
            max-width: 100%;
        }
    }
}

@media (max-width: 700px) {
    .purchasePlansWrapper {
        grid-template-columns: 1fr;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        .btn {
            width: 50%;
            font-size: 1em;
        }
    }
}

@media (max-width: 900px) {
    .btn-wrapper {
        .btn {
            width: 75%;
            font-size: 1em;
        }
    }
}
