#EightPillars {
    padding-block: var(--module-padding);
}

#EightPillarsExplained {
    margin-top: 2em;
}

.eightPillarsList {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 3em;

    .pillarItem {
        display: flex;
        gap: 3em;

        .pillarNumber {
            max-width: 100px;
        }
    }
}

.pillarItem {
    margin-left: 4%;
}

.pillarsConclusion {
    margin-block: 2em;
}
@media (max-width: 500px) {
    .eightPillarsList {
        margin-top: 2.5em;
        gap: 3em;
        .pillarItem {
            gap: 1em;
            flex-direction: column;
            .pillarNumber {
                max-width: 75px;
            }
        }
    }
}
