/*------------------------------------*\
    $TOPBAR
\*------------------------------------*/

#Header .topbar {
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    max-width: 200px;
}

#Header .btn {
    max-width: 11.5em;
    font-size: 1.2em;
}

#Header {
    font-family: "Source Sans Pro", sans-serif;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: rgb(231, 228, 228);
    top: 0;
}

.btn-custom {
    color: var(--white);
    background-color: var(--custom);
}

@media only screen and (max-width: 800px) {
    #Header .btn {
        font-size: 0.75rem;
    }

    .header-logo {
        max-width: 125px;
        width: 100%;
        height: 100%;
    }

    /* .enroll-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
}
