.divider {
    border: 1px solid white;
    margin-left: 0.5em;
    margin-right: 1em;
}

.testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-cc .testimonial-container {
    max-width: 800px;
}

.text-column {
    padding-block: 1em;
    padding-inline: 1.5em;
}

.testimonial-title h4 {
    font-size: 1.4em;
    letter-spacing: 1.5px;
    font-weight: normal;
    padding-bottom: 20px;
}

@media (max-width: 700px) {
    .testimonial-container {
        display: flex;
        flex-direction: column;
    }

    .divider {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}
