#Testimonials1 {
    padding-block: 2em;
}
.divider {
    border: 1px solid white;
    margin-left: 0.5em;
    margin-right: 1em;
}

.testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-cc .testimonial-container {
    max-width: 800px;
}

.text-column {
    padding-block: 1em;
    display: flex;
}

.testimony-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    p {
        flex-grow: 1;
    }
}
.testimonial-title {
    flex-grow: 1;
    p {
        margin-top: 1em;
    }
}

@media (max-width: 700px) {
    .testimonial-container {
        display: flex;
        flex-direction: column;
    }

    .divider {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}
